@import "@/styles/index.scss";

.main {
  display: flex;
  flex-wrap: wrap;
  // padding: 120px;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  margin: 80px auto;
  gap: 13%;
  background-color: #f8f8f8;
  z-index: 1;
  position: relative;
  .texts {
    width: 56%;
    h1 {
      font-size: 45px;
    }
    h3 {
      margin: 40px 0 20px 0;
      font-size: 18px;
      font-weight: normal;
    }
    .enphasis {
      color: $vividBlue;
    }
  }
}
.cta {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-grow: 1;
  a {
    margin: 10px 0;
  }
}
.comingsoon {
  min-height: 300px;
  display: grid;
  place-content: center;
  animation: gradient 8s ease infinite;
  background: linear-gradient(-45deg, #178d87, #304791, #ad2a31, #ccb136);
  background-size: 200% 200%;
  padding: $pagePadding;
  font-size: 80px;
  text-align: center;
  color: $mainLight;
  font-size: 50px;
  font-weight: bold;
  h4,
  h6 {
    font-family: $serifTitle;
  }
  h6 {
    font-size: 21px;
    font-weight: normal;
  }
}
@media only screen and (max-width: 1024px) {
  .main {
    row-gap: 5%;
    justify-content: center;
    // padding: 10px !important;
    margin: unset;
    margin-top: calc(10% + 1vw);
    .texts {
      margin: 5% 0;
      width: 85%;
      text-align: center;
    }
  }
  .cta {
    justify-content: center;
    row-gap: 0%;
  }
}
