@import '@/styles/index.scss';

.cardsContainer {
  // margin-top: 150px;
  // display: grid;
  // place-content: center;
  // grid-template-columns: repeat(2, auto);
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
  row-gap: 1%;
  margin: 150px auto 0 auto;
}
.card {
  // display: grid;
  display: flex;
  flex-direction: column;
  width: 400px;
  // place-content: start;
  padding: 40px;
  margin: 40px auto;
  font-family: $grotesk;
  h1 {
    text-align: center;
    margin: 0 0 35px 0;
    font-weight: bold;
    color: $vividBlue;
  }
  // &:nth-last-child(1),
  // &:nth-last-child(2) {
  //   width: 200%;
  //   * {
  //     width: 200%;
  //   }
  // }
}

@media only screen and (max-width: 1024px) {
  .cardsContainer {
    // display: flex;
    // flex-wrap: wrap;
    width: 85%;
    .card {
      width: 100%;
      text-align: center;
      padding: 25px;
      // &:nth-last-child(1) {
      //   width: 84%;
      //   text-align: center;
      //   * {
      //     width: 100%;
      //   }
      // }
    }
  }
}
