@import "/styles/index.scss";

.footer {
  background-color: $acidYellow;
  padding: $pagePadding;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .footer {
    line-height: 170%;
  }
}
